nav {
	margin-top: 1.25rem;
}

ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	padding: 0;
}

li {
	/* width: 42px; */
	border-top: 1px solid #4f4f4f;
	border-bottom: 1px solid #4f4f4f;
	border-right: 1px solid #4f4f4f;
}

li:first-child {
	border-left: 1px solid #4f4f4f;
}

li a {
	display: block;
	padding: 0.5rem 1rem;
	text-decoration: none;
	color: black;
	font-size: 1.1rem;
}

li a:hover {
	background-color: #4f4f4f;
	color: white;
}
