.media-container {
	display: flex;
	flex-direction: column;
	width: 70%;
	height: 325px;
	background-image: url('../boombox1.png');
	background-repeat: no-repeat;
	background-position: -16px -40px;
	background-size: 103% 400px;
	background-color: white;
	border-top-left-radius: 24px;
	border-top-right-radius: 24px;
}

.player-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.player-logo-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 6rem;
	margin-bottom: 3rem;
}

.player-logo {
	width: 75px;
	height: 75px;
	object-fit: cover;
	padding: 0.5rem 0;
}

.player-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 35%;
}

.player {
	font-size: 1.2rem;
	font-weight: bold;
	border: none;
	outline: none;
	box-shadow: none;
}

.player:active {
	visibility: hidden;
}

.rhap_container {
	background-color: transparent;
}

svg,
.rhap_time,
.station-name {
	color: white;
}

.rhap_volume-indicator {
	background: white;
}

.filters {
	width: 70%;
	display: flex;
	margin-bottom: 2rem;
	transition: 0.1s;
}

.filters span {
	width: 100%;
	margin: 0 auto;
	background-color: #4f4f4f;
	color: white;
	cursor: pointer;
	font-weight: bold;
	padding: 1rem 1rem;
	border-left: 3px solid #b3b3b3;
	transition: 0.5s ease-in-out;
}

.filters span:hover {
	background-color: black;
}

.filters span:first-child {
	border-left: none;
	border-bottom-left-radius: 18px;
}

.filters span:last-child {
	border-bottom-right-radius: 18px;
}

.radio {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.stations {
	width: 70%;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(4, 1fr);
	gap: 3rem;
}

.logo {
	width: 100px;
	height: 100px;
	object-fit: cover;
	cursor: pointer;
}

/* img {
	cursor: pointer;
} */

img:not([src]) {
	visibility: hidden;
}
