.radio {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}

h1 {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 2.5rem;
	margin: 1rem 0 0;
	letter-spacing: 0.25rem;
	color: hsl(207, 83%, 93%);
	text-shadow: 3px 0px black;
}

.media-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-height: 325px;
	/* height: 1%; */
	background-image: url('../boombox1.png');
	background-repeat: no-repeat;
	/* background-size: cover; */
	background-position: -16px -40px;
	background-size: 103% 400px;
	background-color: white;
	border-top-left-radius: 24px;
	border-top-right-radius: 24px;
	margin-bottom: 4rem;
}

.player-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.player-logo-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2.1rem;
	margin-bottom: 3rem;
}

.player-logo {
	width: 75px;
	height: 75px;
	object-fit: cover;
	padding: 0.5rem 0;
}

.player-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 35%;
}

.player {
	font-size: 1.2rem;
	font-weight: bold;
	box-shadow: none;
}

.rhap_container {
	background-color: transparent;
}

svg,
.rhap_time,
.station-name {
	color: #ffffff;
}

.rhap_volume-indicator {
	background: hsl(0, 0%, 100%);
}

.filters {
	/* width: 70%; */
	display: flex;
	margin-top: 0.5rem;
	transition: 0.1s;
}

.filters span {
	width: 100%;
	/* margin: 0 auto; */
	display: inline-block;
	background-color: hsl(0, 0%, 31%);
	color: hsl(0, 0%, 100%);
	cursor: pointer;
	font-weight: bold;
	padding: 1rem 1rem;
	border-left: 3px solid hsl(0, 0%, 70%);
	transition: 0.5s ease-in-out;
}

.filters span:hover {
	background-color: hsl(0, 0%, 0%);
}

.filters span:first-child {
	border-left: none;
	border-bottom-left-radius: 18px;
}

.filters span:last-child {
	border-bottom-right-radius: 18px;
}

.stations {
	width: 100%;
	min-height: 235px;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem;
}

.name {
	cursor: pointer;
	font-weight: 600;
}

.logo {
	margin: 0;
	padding: 0;
	max-width: 50px;
	max-height: 50px;
	object-fit: cover;
	cursor: pointer;
}

/* img {
	cursor: pointer;
} */

img:not([src]) {
	visibility: hidden;
}

@media (max-width: 1060px) {
	.radio {
		width: min(860px, 100%);
	}
}
